/application/node_modules
/application/public/hot
/application/public/storage
/application/storage/*.key
/application/storage/installed
/application/vendor
/application/composer.lock
.idea
.vscode
.vagrant
/.idea
/.vscode
/.vagrant
/application/Homestead.json
/application/Homestead.yaml
/application/npm-debug.log
/application/yarn-error.log
.env
.phpunit.result.cache
composer.phar